.currency-list >.row:nth-child(odd) {
  background-color: aquamarine;
}

.currency-list {
  position: fixed;
  top: 540px;
  background: rgb(20,33,31);
  background: linear-gradient(90deg, rgba(20,33,31,1) 35%, rgba(0,0,0,1) 100%); 
}